:root {
  --color-primary: #4bb367;
  --color-secondary: #f78725;
  --color-dark-grey: #656665;
  --color-light-grey: #DDDDDD;

  --navbar-height: 10%;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root,
#root > div {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: var(--color-primary);
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: white;
  display: inline-block;
  padding: 0 24px;
}

.content {
 width: 100%;
 height: 90%;
}

.content > div {
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-half {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF 60%, var(--color-light-grey) 40%);
  /* position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: var(--color-light-grey); */
}

/**
 * Pages
 */
.page-title {
  font-size: 4em;
  font-weight: 400;
  padding: 48px 0;
}

.page-subtitle {
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 48px;
}

.vertical-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

/**
 * Components
 */

/* List */
.list-container {
  width: 220px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: white;
  padding: 24px;
  box-shadow: 4px 8px 5px var(--color-dark-grey);
}

.list-container li {
  padding: 5px 0;
}

.button {
  border-radius: 10px;
  padding: 6px 24px;
  font-weight: normal;
}

.button-primary {
  color: white;
  background-color: var(--color-secondary);
}

.button-secondary {
  color: var(--color-secondary);
  background-color: white;
  border-color: 1px solid var(--color-secondary);
}

.button-link {
  color: var(--color-secondary);
  background-color: white;
}

.button-extra-large {
  font-size: 24px;
  padding: 10px 24px;
}

/**
 *  Background SVG
 */
.background-svg {
  top: 0;
  z-index: -1;
  position: absolute;
}

.background-svg line {
  stroke: var(--color-light-grey);
  stroke-width: 5;
}

/**
 * Utils
 */
.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-light-grey {
  color: var(--color-light-grey);
}
.color-dark-grey {
  color: var(--color-dark-grey);
}